$holiday-bg: #f2b8b87f;
$holiday-color: $primary_fiduciaria;
$tooltip-bg: #333;
$tooltip-color: #fff;

.calendar-container {
  border: 1px solid #dddcdc;
  border-radius: 20px;
  width: 100%;
  margin: 0;
  padding: 12px;
  height: 100%;
  max-height: 31em;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  gap: 6px;
}

.calendar-header {
  font-weight: bold;
  text-align: center;
}

.calendar-day {
  position: relative;
  text-align: center;
  line-height: 50px;
  width: 50px;

  &.weekend,
  &.holiday {
    background-color: #ffffff;
    color: $holiday-color;
    font-weight: bold;
    pointer-events: none;
  }

  &.saturday {
    color: #9ba1ae;
    background: transparent;
    cursor: not-allowed;
  }

  &.empty {
    border: none;
    background: transparent;
    cursor: default;
  }

  &.marked {
    background-color: $primary_fiduciaria;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 56px;
    pointer-events: visible;
  }

  .tooltip-card {
    display: none;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    background: #2d2d2d;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    z-index: 10;
    font-size: 0.8rem;
    pointer-events: none;
    width: max-content;
    max-width: 190px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
    line-height: 1.8;
  }

  &:hover .tooltip-card {
    display: block;
  }
}
