.custom-dropdown-button {
  border-radius: 10px !important;
}

.q-btn-dropdown__arrow {
  display: none !important;
  width: 0 !important;
  margin-left: 0 !important;
}

.min-h-40 {
  min-height: 40px !important;
}
