.fade-enter-active,
.fade-leave-active {
  transition: opacity 1.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.loader {
  &__content {
    &--title {
      font-family: 'Nunito Sans', sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #b02f62;
    }

    &--description {
      font-family: 'Nunito Sans', sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #333742;
    }

    &__container {
      &--image {
        display: block;
        height: 48px;
        width: 48px;
        max-height: 237px;
        height: 100%;
        margin: 0 auto;
        animation: pulse 1s infinite;
      }
    }
  }
}

.main-loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 30000 !important;
}

.container-image {
  display: block;
  max-width: 237px;
  width: 100%;
  max-height: 237px;
  height: 100%;
  margin: 0 auto;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
