.size-18 {
  font-size: 1.13rem;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.px-20 {
  padding-left: 30px;
  padding-right: 30px;
}
.center{
  justify-content: space-between;
  align-items: center;
}
.end{
  justify-content: flex-end;
  align-items: center;
}