.text-flag {
  margin-left: 2px;
}

.circle-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.custom-option {
  min-width: 140px;
}

.custom-dropdown {
  min-width: 140px !important;
}
