.q-file-wrapper {
  position: relative;
}

.q-file-placeholder {
  position: absolute;
  left: 12px;
  right: 44px;
  top: 0;
  height: 100%;
  line-height: 40px;
  padding-top: 0;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
}
