.construction {
    &__page {
        &--container {
            margin-top: 10%;
        }

        &--img {
            height: 247px;
            width: 247px;
        }

        &--title {

            font-size: 2rem;
            margin-left: 10px;

        }

        &--min {
            font-size: 1.2rem;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.7);

        }
        &--dev {
            font-size: 1.2rem;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.7);

        }
    }
}