.count-adjust {
  margin-bottom: 0.1rem;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
