* {
  transition: all 0.5s;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

.custom-popup {
  background: rgba(0, 0, 0, 0.87);
}

.justify-evenly-custom {
  justify-content: space-evenly;
  width: 100%;
}

.q-field__control {
  background: rgba(255, 255, 255, 0.07);
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

a {
  text-decoration: none !important;
}