.btn-header {
  border-radius: 20px;
  padding: 9px 20px;
}

.btn-table {
  border: 1px $primary_fiduciaria;
  border-radius: 20px;
  padding: 5px 10px;
  height: 30px;
  width: 170px;
  margin-right: 20px;
}

.image-excel {
  width: 20px;
  height: 20px;
}

.contButtons {
  display: flex;
  justify-content: center;
}

.text-justify-no-split {
  text-align: justify;
  word-break: break-word;
  hyphens: none;
}
